<html>
<head>
<style>
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
</style>
</head>
<body>
<h1> Thank You For Shopping With Us</h1>
<h2 style = "color:orange">Your order has been received and will be delivered within a week</h2>
<h2 style = "color:red">To track your order visit the link sent to your gmail account</h2>
<button onclick="window.location.href='/'"> CONTINUE SHOPPING </button>
</body>
</html>